.profile {
    width: 1300px;
    height: 500px;
    background-color:#F7F6F4;
  }

.explorecarousel{
  height: 500px;
  overflow: hidden;
}

.profileheader{
  font-size: 32px;
}

.bodytext{
  font-size:20px;
}

.like-button{
  font-size: 25px !important;
  height:70px;
  border-radius: 25px !important;
}

.b1 {
  list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/1/19/Icons-mini-icon_attachment.gif);
}
.b2 {
  list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/6/61/Icons-mini-icon_security.gif);
}
.b3 {
  list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/a/ab/Icons-mini-icon_clock.gif);
}