<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c513ff9a-aaab-4056-8a3a-d4fe19d87b2e/resourcegroups/FruitBasketResource/providers/Microsoft.Web/sites/FruitBasketApi20211021012825</ResourceId>
    <ResourceGroup>FruitBasketResource</ResourceGroup>
    <ApiResourceId>/subscriptions/c513ff9a-aaab-4056-8a3a-d4fe19d87b2e/resourceGroups/FruitBasketResource/providers/Microsoft.ApiManagement/service/FruitBasketApi/apis/fruitbasket</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fruitbasketapi20211021012825.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>bf3e01e4-ebd2-4cc1-a6f1-7fd484a2f9fa</ProjectGuid>
    <MSDeployServiceURL>fruitbasketapi20211021012825.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FruitBasketApi20211021012825</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FruitBasketApi20211021012825</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>